<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Kneel Diamonds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
    {% block styles %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar">
      <section class="nav__link">
        <a href="/">Home</a>
      </section>
      <section class="nav__link">
        <a href="/productreviews">Reviews</a>
      </section>
    </nav>
    <main id="container">
      {% block content %}

      {% endblock %}
    </main>

    <!-- <script type="module" src="./scripts/main.js"></script> -->
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
  </body>
</html>
