.choices {
    display: flex;
    justify-content: space-evenly;
}

.options {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

#orders {
    padding: 1rem 2rem;
    font-size: 1.1rem;
}

.order__header {
    font-size: 0.9rem;
}

.order__details {
    font-size: 0.8rem;
    display: flex;
    border: 1px dotted darkblue;
    padding: 0.33rem;
    justify-content: space-around;
    margin: 0 0 0.3rem 0;
    background-color: rgb(233, 233, 255);
}